workflows/cinemai/Se7MIJIqzsbhm7V4.json
{
  "active": false,
  "connections": {
    "Setup Heygen": {
      "main": [
        [
          {
            "node": "Create Avatar Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Case Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Avatar Video WITHOUT Background Video": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avatar Video": {
      "main": [
        [
          {
            "node": "If Video Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Video Done": {
      "main": [
        [
          {
            "node": "If Finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Writer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Writer": {
      "main": [
        [
          {
            "node": "Setup Heygen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Video Prompts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "Merge Video Urls",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a video": {
      "main": [
        [
          {
            "node": "If Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Video Urls": {
      "main": [
        [
          {
            "node": "Merge Video Urls",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out Video Prompts": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Download a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "If Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        []
      ]
    },
    "Create Avatar Video": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request SUNO": {
      "main": [
        [
          {
            "node": "Get SUNO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T10:50:33.215Z",
  "id": "Se7MIJIqzsbhm7V4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Modulo 01",
  "nodes": [
    {
      "parameters": {
        "content": "https://help.blotato.com/api/templates/3-hackernews-to-ai-clone-videos",
        "height": 80,
        "width": 544,
        "color": 6
      },
      "id": "652f0c4e-11bb-4f45-80d4-eaa74f26e7f3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        1440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"heygen_api_key\": \"YTNhNzdlOTQzNWE4NGNiNGJjYTE0ZWQ4MTVhNWY4YWUtMTc2MDM1NDgwNQ==\",\n  \"avatar_id\": \"1727672614\",\n  \"voice_id\": \"7bf3a42a7a3847a586017bcbab105734\",\n  \"has_background_video\": false,\n  \"background_video_url\": \"https://as1.ftcdn.net/v2/jpg/06/19/29/94/1000_F_619299409_jTzGQnM9aNVibWaKfd523kqpI8edMZy0.jpg\"\n}\n",
        "options": {}
      },
      "id": "4308b15d-1105-45dd-9db9-a67dd9b82218",
      "name": "Setup Heygen",
      "type": "n8n-nodes-base.set",
      "position": [
        1856,
        1312
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Setup Heygen').item.json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $('Setup Heygen').item.json.avatar_id }}\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.0\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('AI Writer').item.json.output.intro_avatar.script }}\",\n        \"voice_id\": \"{{ $('Setup Heygen').item.json.voice_id }}\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  },\n  \"aspect_ratio\": \"16:9\",\n  \"caption\": \"true\",\n  \"title\": \"{{ $('AI Writer').item.json.output.intro_avatar.title }}\"\n}",
        "options": {}
      },
      "id": "ae4dc156-f57b-4016-85b5-d7d0ce491f61",
      "name": "Create Avatar Video WITHOUT Background Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        880,
        672
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {},
      "id": "d1e0ac6f-b70d-4ac5-ae70-9a1d820f1bba",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2304,
        1296
      ],
      "typeVersion": 3.2,
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "19c87ba1-9036-4e90-b02d-56cbe8c7d786",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2528,
        1296
      ],
      "webhookId": "d9404622-0a06-4a65-959e-badd4fd87465",
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Merge').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Setup Heygen').item.json.heygen_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d6f7922a-a91e-4385-a098-4ef35363fbbb",
      "name": "Get Avatar Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2752,
        1216
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e511deb8-8e4c-45db-aa35-18f43a0552b6",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Get Avatar Video').item.json.data.status }}",
              "rightValue": "completed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "52d59509-5e4f-4ab3-91f5-5b639a279694",
      "name": "If Video Done",
      "type": "n8n-nodes-base.if",
      "position": [
        2976,
        1296
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        880,
        1888
      ],
      "id": "3b835d2a-70fe-42b1-bc63-33e7a561bbae",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        1616
      ],
      "id": "6fdfb66f-d18f-4e59-8d71-de8caa7a546f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1376,
        2112
      ],
      "id": "c59645ff-3167-454e-95b5-735fabd62412",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "### 📚 Load Data Flow",
        "height": 460,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        1808
      ],
      "typeVersion": 1,
      "id": "ddd64200-93fb-489a-a87c-658fffb21e75",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        1312,
        1888
      ],
      "id": "fe6f5acb-5ae0-43ac-a1ce-55e96293e8df",
      "name": "Insert Data to Store",
      "notesInFlow": false
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        1200,
        1408
      ],
      "id": "0909016e-ca87-4585-b3e5-96595930533f",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        1616
      ],
      "id": "15acc99c-9514-4595-95ef-8f37c6049761",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Readme\nLoad your data into a vector database with the 📚 **Load Data** flow, and then use your data as chat context with the 🐕 **Retriever** flow.\n\n**Quick start**\n1. Click on the `Execute Workflow` button to run the 📚 **Load Data** flow.\n2. Click on `Open Chat` button to run the 🐕 **Retriever** flow. Then ask a question about content from your document(s)\n\n\nFor more info, check [our docs on RAG in n8n](https://docs.n8n.io/advanced-ai/rag-in-n8n/).",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        1104
      ],
      "typeVersion": 1,
      "id": "52246ffa-0b5d-44cd-87f7-9e82ed1f432a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### 🐕 2. Retriever Flow",
        "height": 460,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        1808
      ],
      "typeVersion": 1,
      "id": "6397f899-152a-4c72-8b81-52f8dc0e8557",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        896,
        1168
      ],
      "id": "382379ae-e244-448c-85ef-ac0f5c934490",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "# TASK 1: INTRO DEL AVATAR\n1. Analiza cuidadosamente el contenido del PDF proporcionado.\n2. Escribe el **guion hablado del avatar para la Presentación del Caso** en el **MÓDULO 01: TRAILER**.\n3. Genera además una **descripción breve de la imagen de fondo** que acompañará el video del avatar.\n\n# DIRECTRICES DE REDACCIÓN\n- Público objetivo: estudiantes de MBA.\n- Duración máxima del guion: 30 segundos al ser leído en voz alta.\n- Primera frase: debe generar curiosidad inmediata (curiosity gap).\n- El guion debe sonar como una presentación académica breve y profesional.\n- Menciona solo lo esencial del caso: nombre, tema central y dilema estratégico clave.\n- Tono: profesional, motivador y con autoridad, invitando al análisis y la reflexión.\n- Finaliza con una transición corta hacia la discusión del caso.\n- La descripción de la **imagen de fondo** debe ser breve, visual, realista y relacionada con el contexto del caso.\n- **NO** incluyas notas técnicas, explicaciones internas ni formato JSON.\n- Devuelve únicamente el guion y la descripción de la imagen.\n\n# OUTPUT\nGuion + descripción de imagen de fondo.\n\n---\n\n# TASK 2: TRAILER CINEMATOGRÁFICO (DIVIDIDO EN ESCENAS DE 8s, mínimo 7 escenas de 8 segundos cada una)\n1. Analiza cuidadosamente el contenido del PDF proporcionado.\n2. Escribe únicamente el **texto narrado del TRAILER** para el **MÓDULO 01**, incluyendo **indicaciones de escenas**.\n\n# DIRECTRICES DE REDACCIÓN\n- Público objetivo: estudiantes de MBA.\n- Duración total: mínimo 1 minuto y máximo 90 segundos al ser leído en voz alta.\n- Estilo narrativo, cinematográfico e inmersivo, como un tráiler.\n- Divide el guion en una lista de escenas secuenciales, cada una de aprox. 6–8 segundos.\n- Cada escena debe tener dos campos:\n   - **NARRADOR**: lo que dice la voz en off.\n   - **ESCENA**: lo que se muestra visualmente (ej. “Plano de oficina de madrugada”, “Gráfico animado de crecimiento de ventas”, “Primer plano del protagonista preocupado”).\n- Inicio: situar al protagonista (nombre, edad, cargo) en un momento de tensión.\n- Incluir 2–3 datos duros y espectaculares (ventas, márgenes, cifras clave).\n- Crear contraste entre éxito aparente y conflicto estratégico oculto.\n- Cierre: plantear el dilema en forma de pregunta que deja intriga para los estudiantes.\n- Tono: dramático, frases cortas, ritmo de suspenso.\n- **NO** resumas todo el caso ni expliques soluciones; solo genera tensión.\n- **NO** incluyas notas técnicas.\n- Devuelve únicamente el guion dividido en escenas numeradas.\n- Recuerda que la voz en off del narrador tiene que ocupar prácticamente el total de la escena, así que asegúrate que son lo suficientemente extensos pero sin pasarse (máximo 8 segundos por cada narración de cada escena).\n\n# OUTPUT\nUn guion estructurado como lista de escenas:\n- Escena 1: { \"narrador\": \"...\", \"escena\": \"...\" }\n- Escena 2: { \"narrador\": \"...\", \"escena\": \"...\" }\n- Escena 3: { \"narrador\": \"...\", \"escena\": \"...\" }\n... hasta cubrir el tiempo total.\n\n\n# TASK 3: RESUMEN E INTRODUCCIÓN DEL CASO (AVATAR METODOLÓGICO)\n1. Analiza cuidadosamente el contenido del PDF proporcionado.\n2. Escribe el **guion hablado del avatar** para el **Resumen e Introducción del Caso**.\n3. Este guion debe preparar a los estudiantes para el análisis y explicar la metodología que se utilizará en el curso.\n\n# DIRECTRICES DE REDACCIÓN\n- Público objetivo: estudiantes de MBA.\n- Duración: entre 2 y 3 minutos al ser leído en voz alta.\n- Tono: académico, claro, motivador y con autoridad docente.\n- Estilo narrativo: frases cortas, con pausas dramáticas, repeticiones retóricas y enumeraciones que generen énfasis. Debe sonar como un discurso que mezcla explicación académica con storytelling.\n- Inicio: enfatiza que **“esta no es una decisión cualquiera”**, recordando una apuesta estratégica previa de la empresa (ej. inversión de 45 millones en I+D cuando apenas generaba flujo de caja).\n- Desarrollo: describe cómo ahora los competidores reaccionan (menciona nombres concretos de rivales relevantes en la industria).\n- Metodología: explica explícitamente qué herramientas se usarán:\n  - PESTEL (entorno regulatorio y macroeconómico).\n  - Cinco Fuerzas de Porter (competencia e industria).\n  - DAFO (fortalezas, debilidades, oportunidades, amenazas).\n  - Matriz CAME (generación de alternativas estratégicas).\n- Innovación pedagógica: destaca que se usará ChatGPT como apoyo, no para decidir por los estudiantes, sino para generar alternativas estratégicas y nuevas perspectivas.\n- Cierre: debe motivar al estudiante con preguntas retóricas e invitación al reto académico. Termina con un llamado inspirador: **“Comencemos con la historia de…”**.\n- **NO** incluyas notas técnicas ni formato JSON.\n- Devuelve únicamente el guion del avatar, con párrafos cortos y estilo oratorio.\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Make sure you are analyzing the pdf content and generating the output base on the input pdf"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1136,
        1184
      ],
      "id": "dc1e2c6e-fbbf-4696-bf36-4353add79f7d",
      "name": "AI Writer"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intro_avatar\": {\n    \"title\": \"Presentación inicial del caso RoboTech\",\n    \"script\": \"Bienvenidos, estudiantes. Hoy nos adentraremos en un caso fascinante: RoboTech, una empresa que desafió a los gigantes de la industria médica con innovación y coraje. ¿Podrá mantener su liderazgo frente a competidores globales dispuestos a todo? Acompáñenme en esta historia y prepárense para analizar una de las decisiones más trascendentales en dirección estratégica.\",\n    \"background_image\": \"Vista panorámica nocturna de un distrito financiero en Singapur, con rascacielos iluminados y una atmósfera de tensión empresarial.\"\n  },\n  \"trailer\": {\n    \"title\": \"El dilema de RoboTech\",\n    \"total_scenes\": 3,\n    \"narration_with_scenes\": [\n      {\n        \"escena_num\": 1,\n        \"narrador\": \"Singapur, dos de la madrugada. Pat Chen, ingeniera y CEO de RoboTech, revisa cifras que podrían decidir el futuro de su compañía.\",\n        \"escena\": \"Plano de oficina moderna con luz tenue; Pat Chen frente a una pantalla llena de gráficos financieros.\"\n      },\n      {\n        \"escena_num\": 2,\n        \"narrador\": \"En apenas tres años, las ventas crecieron de 22 a 117 millones de dólares. Los márgenes se dispararon hasta el 53%. Todo parece éxito absoluto.\",\n        \"escena\": \"Gráficos animados de crecimiento exponencial, superpuestos con titulares de prensa sobre el auge de RoboTech.\"\n      },\n      {\n        \"escena_num\": 3,\n        \"narrador\": \"Pero detrás del brillo, surge la amenaza: gigantes como Medtronic y Johnson & Johnson entran en la cirugía robótica. ¿Deberá RoboTech arriesgarlo todo una vez más?\",\n        \"escena\": \"Transición a imágenes de quirófanos robóticos avanzados, seguidas por un primer plano del rostro de Pat Chen en tensión.\"\n      }\n    ]\n  },\n  \"case_summary\": {\n    \"title\": \"Resumen e introducción al caso y la metodología\",\n    \"script\": \"Esta no es una decisión cualquiera. Estamos frente a un dilema estratégico que puede definir la supervivencia de RoboTech, una empresa que ya arriesgó todo una vez al invertir 45 millones en investigación y desarrollo cuando apenas generaba flujo de caja positivo. Esa apuesta la llevó a convertirse en líder mundial en cirugía robótica espinal. Pero hoy el tablero ha cambiado: Medtronic, Johnson & Johnson, Stryker… todos los gigantes de la industria médica están entrando con fuerza en este mercado.\\n\\nDurante este curso, analizaremos este caso desde múltiples perspectivas. Para comprender el entorno regulatorio y macroeconómico aplicaremos el análisis PESTEL. Para evaluar la intensidad competitiva y la dinámica de la industria, utilizaremos las Cinco Fuerzas de Porter. Para identificar fortalezas internas, debilidades y oportunidades externas, recurriremos al análisis DAFO. Y, finalmente, emplearemos la matriz CAME para transformar este diagnóstico en alternativas estratégicas viables.\\n\\nPero este caso tiene un componente innovador: ustedes no solo usarán las herramientas clásicas de dirección estratégica, también integrarán la inteligencia artificial como apoyo. Con ChatGPT explorarán posibles estrategias, no para que la IA tome decisiones en su lugar, sino para ayudarlos a plantear opciones, descubrir ángulos nuevos y cuestionar sus propias hipótesis. El verdadero aprendizaje estará en cómo formulan las preguntas, cómo interpretan las respuestas y cómo aplican un juicio crítico fundamentado en la teoría y en la evidencia.\\n\\nAl final de este viaje, no solo habrán practicado con rigor las metodologías de análisis estratégico, sino que también habrán vivido lo que significa estar en la piel de un CEO: tomar decisiones bajo presión, con información incompleta y con múltiples stakeholders atentos a cada movimiento.\\n\\n¿Están listos para ponerse en los zapatos de Pat Chen? ¿Listos para decidir si RoboTech debe volver a apostar todo frente a competidores mucho más grandes? Si la respuesta es sí, entonces comencemos. Comencemos con la historia de cómo una ingeniera visionaria transformó la incertidumbre en liderazgo global. Comencemos con RoboTech.\"\n  }\n}",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1488,
        1408
      ],
      "id": "5beb8904-b70b-426d-99aa-050a2029854a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.0-fast-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.0-fast-generate-preview"
        },
        "prompt": "=You are a cinematic video generator.  \nGenerate a short video clip for a single scene from a trailer, based on the structured content below:  \n\nScene number: {{ $json.escena_num }} of {{ $('AI Writer').item.json.output.trailer.total_scenes }}  \nNarration: {{ $json[\"narrador\"] }}  \nVisuals: {{ $json[\"escena\"] }}  \n\n# STYLE\n- Tone: cinematic, dramatic, immersive.  \n- Duration: around 6 to 8 seconds.  \n- Show realistic environments, office settings, data visualizations, and emotional tension in the protagonist.  \n- Use dynamic camera movements and lighting to increase drama.  \n- Sync visuals with the narration.  \n- The scene must feel like part of a larger MBA case study trailer.  \n\n# OUTPUT\nGenerate a single video clip (6–8 seconds) for this scene only.  \nDo not add captions, text overlays, or subtitles to the video.",
        "returnAs": "url",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2528,
        1648
      ],
      "id": "d1ba0812-cd89-4734-bebf-71feeb4e8514",
      "name": "Generate a video",
      "credentials": {
        "googlePalmApi": {
          "id": "X30UB2LkpOZovf9c",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "download",
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2976,
        1840
      ],
      "id": "e1d63d61-a110-42be-b98f-52b41c8f9b7d",
      "name": "Download a video",
      "credentials": {
        "googlePalmApi": {
          "id": "X30UB2LkpOZovf9c",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2752,
        1536
      ],
      "id": "a3edee96-c2b5-4ca6-84e6-bd31cdfb61a2",
      "name": "Merge Video Urls",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.trailer.narration_with_scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2304,
        1648
      ],
      "id": "356620b7-fa8f-4ef9-a18c-850d994d0937",
      "name": "Split Out Video Prompts"
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2752,
        1840
      ],
      "id": "0abc7503-409e-4174-a530-73aaa9bd7f24",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "audio",
        "model": "tts-1-hd",
        "input": "={{ $json.narrador }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2976,
        2032
      ],
      "id": "5ea446b0-efab-4773-9aa6-fad72b7312e3",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image-preview (Nano Banana)"
        },
        "prompt": "={{ $json.output.intro_avatar.background_image }}\nLa imagen debe ser de aspecto 16:9",
        "options": {
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        1120
      ],
      "id": "35ae1978-f3ce-4a11-8e22-043bff089a0d",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "X30UB2LkpOZovf9c",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        896
      ],
      "id": "b28fbbd6-7e75-4e3c-885e-3d5076028327",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97e11d2b-bf84-4f91-86e6-1166576fd1f9",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3200,
        1616
      ],
      "id": "2ceebb9d-1932-4cd6-8493-c48bc478047b",
      "name": "If Finish",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Setup Heygen').item.json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"Kristin_public_2_20240108\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.0\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('AI Writer').item.json.output.case_summary.script }}\",\n        \"voice_id\": \"689f48196a9a43c4bbbb67c14fdbb4c6\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"image\",\n        \"url\": \"https://as1.ftcdn.net/v2/jpg/06/19/29/94/1000_F_619299409_jTzGQnM9aNVibWaKfd523kqpI8edMZy0.jpg\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  },\n  \"aspect_ratio\": \"16:9\",\n  \"caption\": \"true\",\n  \"title\": \"{{ $('AI Writer').item.json.output.case_summary.title }}\"\n}\n",
        "options": {}
      },
      "id": "f3cefa4b-ff4a-4c70-9efe-7ccd209e980b",
      "name": "Create Case Summary",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2080,
        1488
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Setup Heygen').item.json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"Kristin_public_2_20240108\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.0\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('AI Writer').item.json.output.intro_avatar.script }}\",\n        \"voice_id\": \"689f48196a9a43c4bbbb67c14fdbb4c6\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"image\",\n        \"url\": \"https://as1.ftcdn.net/v2/jpg/06/19/29/94/1000_F_619299409_jTzGQnM9aNVibWaKfd523kqpI8edMZy0.jpg\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  },\n  \"aspect_ratio\": \"16:9\",\n  \"caption\": \"true\",\n  \"title\": \"{{ $('AI Writer').item.json.output.intro_avatar.title }}\"\n}\n",
        "options": {}
      },
      "id": "756f1890-d95e-400a-95b4-b86d0ae9d498",
      "name": "Create Avatar Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2080,
        1296
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sunoapi.org/api/v1/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6caf4784f789c9ee776cc1505489b2c8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prompt\": \"An epic cinematic trailer score with orchestral strings, powerful percussion, deep brass, and emotional choirs. Starts softly and builds intensity toward a dramatic climax, evoking a sense of heroism, destiny, and awe. Perfect for movie trailers or epic storytelling.\",\n  \"customMode\": true,\n  \"instrumental\": true,\n  \"model\": \"V3_5\",\n  \"callBackUrl\": \"https://your-server.com/callback\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        1968
      ],
      "id": "2fe829c8-0add-4022-8b18-e4c637982f63",
      "name": "HTTP Request SUNO"
    },
    {
      "parameters": {
        "url": "https://api.sunoapi.org/api/v1/generate/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6caf4784f789c9ee776cc1505489b2c8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        1968
      ],
      "id": "eb15f137-d7a3-42ea-a405-776515b2e95e",
      "name": "Get SUNO"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v2/avatars",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "<your-api-key>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2736,
        1648
      ],
      "id": "7bc0cdd9-ceff-415b-9b2d-04bd34a08b82",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T10:50:33.223Z",
      "updatedAt": "2025-09-24T10:50:33.223Z",
      "role": "workflow:owner",
      "workflowId": "Se7MIJIqzsbhm7V4",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-24T11:33:18.062Z",
      "updatedAt": "2025-09-24T11:33:18.062Z",
      "id": "s3oioWupiIU7HETp",
      "name": "cinemai"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T15:26:15.000Z",
  "versionId": "f18d3f41-0adb-400a-930e-f483251ef331"
}