workflows/COJjCxJ6QCgnyPEC.json
{
  "active": true,
  "connections": {
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        []
      ]
    },
    "Linear Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-26T09:44:54.200Z",
  "id": "COJjCxJ6QCgnyPEC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Multi Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }} {{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an orchestrator agent, you dont have to do the task.Use your agents outputs.\nJust pass user query to a subagent.\n- If you need contact info or is a Mail request use the Contact Agent\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        -128
      ],
      "id": "acb839b0-963c-46bd-a8b7-5f3cc4f4fdf9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "=Call this tool to take any email actions",
        "workflowId": {
          "__rl": true,
          "value": "WCY59Vt63AjhevyY",
          "mode": "list",
          "cachedResultUrl": "/workflow/WCY59Vt63AjhevyY",
          "cachedResultName": "Gmail Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        336,
        144
      ],
      "id": "ddd6d9d7-122f-4392-8ef3-7a33a9425030",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        128,
        400
      ],
      "id": "eee1c7c7-cbcc-46c2-8aaf-12d3984cfba0",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        608
      ],
      "id": "6339864c-e646-4b30-bcc7-2be623ca56c7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        544,
        400
      ],
      "id": "8f4166b0-e0e3-4aef-bf86-5e8f366091cd",
      "name": "Insert Data to Store",
      "notesInFlow": false
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        848,
        208
      ],
      "id": "0fef6d60-0720-4ceb-b0c2-cc3a59ff961c",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        512
      ],
      "id": "e77c3190-e593-4f80-9536-d7dd04ccfcd7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        208
      ],
      "id": "d23cc177-1f14-4ef5-ae2b-59e1e6fa4088",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to take any data information/ contacts actions",
        "workflowId": {
          "__rl": true,
          "value": "vBXGz3HMt39K1fQn",
          "mode": "list",
          "cachedResultUrl": "/workflow/vBXGz3HMt39K1fQn",
          "cachedResultName": "Supabase Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        224,
        144
      ],
      "id": "635c2022-739b-418c-9cd6-165f5a46cc8e",
      "name": "Contacts Agent"
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -128
      ],
      "id": "c722a858-c14b-4ca4-98e2-a9c9b69b6bb8",
      "name": "Telegram Trigger",
      "webhookId": "a7dcab7e-d44d-45bb-816d-7927c4c33635",
      "credentials": {
        "telegramApi": {
          "id": "5f1IJ3lYh0cbDxte",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        -128
      ],
      "id": "3e540f91-d4a6-4943-ab55-5df1b4f97431",
      "name": "Send a text message",
      "webhookId": "5e35124b-60b1-4fba-a9b4-71c39e6ff80b",
      "credentials": {
        "telegramApi": {
          "id": "5f1IJ3lYh0cbDxte",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }} {{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "ca4141fa-2e2c-4c0b-9339-82c52d6cc099",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to take any chat with user action",
        "workflowId": {
          "__rl": true,
          "value": "vxfdsQZdqixA7XFq",
          "mode": "list",
          "cachedResultUrl": "/workflow/vxfdsQZdqixA7XFq",
          "cachedResultName": "Chat Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        448,
        144
      ],
      "id": "d6aa517f-1928-4750-91e0-fde5b1954d2c",
      "name": "Chat Agent"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        64,
        -336
      ],
      "id": "1d0a4e90-21eb-4214-b8da-b053db23ef6f",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool for any Linear / tickets actions",
        "workflowId": {
          "__rl": true,
          "value": "VF2Sjuu3gbWyCamt",
          "mode": "list",
          "cachedResultUrl": "/workflow/VF2Sjuu3gbWyCamt",
          "cachedResultName": "Linear Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        560,
        144
      ],
      "id": "249cfc00-5eaa-405c-8456-d2dd836a643a",
      "name": "Linear Agent"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-26T09:44:54.206Z",
      "updatedAt": "2025-09-26T09:44:54.206Z",
      "role": "workflow:owner",
      "workflowId": "COJjCxJ6QCgnyPEC",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-10-02T13:51:32.000Z",
  "versionId": "cc7fdd6e-02c7-4808-aa21-0ea931a996d9"
}