workflows/D6NZyNLVQuT96zbX.json
{
  "active": false,
  "connections": {
    "Create a row": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GensPark": {
      "main": [
        []
      ]
    },
    "Get many rows": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T13:40:52.562Z",
  "id": "D6NZyNLVQuT96zbX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Supabase",
  "nodes": [
    {
      "parameters": {
        "tableId": "prueba",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        -32
      ],
      "id": "4d9aace8-ebbc-4b89-8a32-3210314866b8",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "hQzQNzIN13lv1Hrz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "hola, responde solo con un nombre aleatorio, tu respuesta solo debe contener un nombre aleatorio."
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -160,
        0
      ],
      "id": "69fdd149-93fc-4a94-818a-4a69e439e915",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -16
      ],
      "id": "d404de33-0075-4afc-a7f4-79de675adf4e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://desktop.captions.ai/api",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -192
      ],
      "id": "6b52054c-40d4-47db-8bc0-2b935a9a9285",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "KZ4vS1qcpNcldqDi",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        224
      ],
      "id": "c34f10c2-e3e5-423b-8d89-e1f3c5780b98",
      "name": "GensPark"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        384
      ],
      "id": "8ea2a6b0-dafa-4343-b869-ecff45c942f9",
      "name": "Manus"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prueba",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        -32
      ],
      "id": "5aa3a079-2776-4bd5-970c-1f5cf59aad33",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "hQzQNzIN13lv1Hrz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You recieve this names: {{ $json.name }}\nWrite one more name that is not on the list\nThe answer is just a name",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        -32
      ],
      "id": "a2e09435-11fd-4989-b76c-07ff15497f49",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        192
      ],
      "id": "4e04aa7d-2879-401d-96bb-1b3e4360166b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T13:40:52.574Z",
      "updatedAt": "2025-09-24T13:40:52.574Z",
      "role": "workflow:owner",
      "workflowId": "D6NZyNLVQuT96zbX",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-26T09:38:48.000Z",
  "versionId": "fc85b2e4-5f81-481a-8ca0-52f265f33a99"
}