workflows/D6NZyNLVQuT96zbX.json
{
  "active": false,
  "connections": {
    "Create a row": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T13:40:52.562Z",
  "id": "D6NZyNLVQuT96zbX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "tableId": "prueba",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "4d9aace8-ebbc-4b89-8a32-3210314866b8",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "hQzQNzIN13lv1Hrz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "hola, responde solo con un nombre aleatorio, tu respuesta solo debe contener un nombre aleatorio."
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -160,
        0
      ],
      "id": "69fdd149-93fc-4a94-818a-4a69e439e915",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -16
      ],
      "id": "d404de33-0075-4afc-a7f4-79de675adf4e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://desktop.captions.ai/api",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -192
      ],
      "id": "6b52054c-40d4-47db-8bc0-2b935a9a9285",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "KZ4vS1qcpNcldqDi",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T13:40:52.574Z",
      "updatedAt": "2025-09-24T13:40:52.574Z",
      "role": "workflow:owner",
      "workflowId": "D6NZyNLVQuT96zbX",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-24T15:07:21.000Z",
  "versionId": "7ac469d2-39cd-4dd2-b4e6-48a1280dfd35"
}