workflows/dJaaUu5E60Vif3L0.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-30T10:32:25.920Z",
  "id": "dJaaUu5E60Vif3L0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "News Researcher Agent",
  "nodes": [
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ $json.query }}\ntrata de proveer noticias de actualidad.\npor lo menos 10 noticias en total.\n5 de ellas deben de ser del día de hoy"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -480,
        -64
      ],
      "id": "d7cada3b-2fe3-401a-8d4c-d77907f8bc52",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "1db6Y4SRmhm0qZLS",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        -64
      ],
      "id": "5f27c2ae-d4f0-4ea6-be49-c8c77d5f84e7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.citations }}\n{{ $json.search_results }}\n{{ $json.choices }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -272,
        -64
      ],
      "id": "3809cf43-066d-4029-babd-c82b7c7cf6de",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -272,
        112
      ],
      "id": "c07e6a8a-247b-4af2-a260-fffbc6412fdc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "X30UB2LkpOZovf9c",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "busca noticias sobre inteligencia artificial"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-30T10:32:25.926Z",
      "updatedAt": "2025-09-30T10:32:25.926Z",
      "role": "workflow:owner",
      "workflowId": "dJaaUu5E60Vif3L0",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-02T15:20:21.000Z",
  "versionId": "acfd84f8-b4e6-4d50-8e7a-4237be394811"
}