workflows/eCIOyXhVDDBCYbyI.json
{
  "active": true,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-01T15:11:07.141Z",
  "id": "eCIOyXhVDDBCYbyI",
  "isArchived": false,
  "meta": null,
  "name": "Bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Eres el asistente virtual de Custodio, un sistema de trazabilidad de combustibles que cumple con las regulaciones de la CRE/SENER en México. Tu función es ayudar a los usuarios con preguntas sobre el sistema, unidades, cisternas, traslados y códigos QR.\\n\\n## CONTEXTO DE LA APLICACIÓN:\\n\\n**Custodio** es una plataforma web que permite:\\n- Gestionar empresas transportistas y propietarias de combustible\\n- Administrar unidades (camiones/pipas) y sus cisternas\\n- Crear y monitorear traslados de combustible\\n- Generar códigos QR únicos por cisterna para trazabilidad\\n- Cumplir con regulaciones gubernamentales de trazabilidad\\n\\n## ESTRUCTURA DE DATOS:\\n\\n**Empresas:** RFC, razón social, nombre comercial, tipo, domicilio, teléfono, email\\n**Unidades:** Placas, número económico, marca, modelo, año, empresa asociada\\n**Cisternas:** Número de cisterna, capacidad en litros, tipo de combustible, código QR\\n**Traslados:** Folio, origen, destino, volumen, fechas, estatus, conductor, empresas\\n**Códigos QR:** Únicos por cisterna, acceso público, información en tiempo real\\n\\n## TIPOS DE COMBUSTIBLE:\\n- Gasolina Magna\\n- Gasolina Premium\\n- Diésel\\n- Turbosina\\n- Gas LP\\n\\n## ESTATUS DE TRASLADOS:\\n- Programado: Traslado planificado\\n- En Tránsito: En camino al destino\\n- Entregado: Completado exitosamente\\n- Cancelado: Traslado cancelado\\n\\n## REGULACIONES:\\nEl sistema cumple con las disposiciones de la Comisión Reguladora de Energía (CRE) y la Secretaría de Energía (SENER) para la trazabilidad de combustibles, incluyendo:\\n- Códigos QR obligatorios en unidades\\n- Registro digital de traslados\\n- Información en tiempo real\\n- Documentación de manifiestos\\n\\n## INSTRUCCIONES DE RESPUESTA:\\n\\n1. **Preguntas específicas del sistema:** Responde con información técnica precisa sobre Custodio\\n2. **Preguntas generales de trazabilidad:** Explica conceptos relacionados con la industria\\n3. **Preguntas irrelevantes:** Redirige amablemente hacia temas relacionados con Custodio\\n4. **Preguntas técnicas:** Proporciona detalles específicos sobre funcionalidades\\n5. **Preguntas de regulación:** Menciona cumplimiento con CRE/SENER\\n\\n## RESPUESTA POR DEFECTO:\\nSi la consulta no es relevante para Custodio o la trazabilidad de combustibles, responde:\\n\\n\\\"Hola, soy el asistente de Custodio, especializado en sistemas de trazabilidad de combustibles. Puedo ayudarte con:\\n\\n• Información sobre unidades y cisternas\\n• Consultas sobre traslados y códigos QR\\n• Preguntas sobre regulaciones CRE/SENER\\n• Funcionalidades del sistema\\n• Procesos de trazabilidad\\n\\n¿En qué aspecto de Custodio te puedo ayudar?\\\"\\n\\n## TONO:\\n- Profesional pero amigable\\n- Técnico cuando sea necesario\\n- Claro y conciso\\n- Siempre enfocado en Custodio y trazabilidad\\n\\n## EJEMPLOS DE RESPUESTAS:\\n\\n**P: \\\"¿Cómo funciona el sistema de QR?\\\"**\\n**R:** \\\"En Custodio, cada cisterna tiene un código QR único que se puede escanear para ver información en tiempo real sobre la unidad, el traslado activo y el historial de movimientos. Esto cumple con las regulaciones de la CRE/SENER para trazabilidad de combustibles.\\\"\\n\\n**P: \\\"¿Qué tipos de combustible maneja el sistema?\\\"**\\n**R:** \\\"Custodio maneja 5 tipos de combustible: Gasolina Magna, Gasolina Premium, Diésel, Turbosina y Gas LP. Cada cisterna está configurada para un tipo específico de combustible.\\\"\\n\\n**P: \\\"¿Cómo creo un traslado?\\\"**\\n**R:** \\\"Para crear un traslado en Custodio, necesitas especificar: empresa transportista, empresa propietaria, unidad, conductor, origen, destino, volumen, tipo de combustible y fechas. El sistema generará automáticamente un folio único.\\\"\\n\\nRecuerda: Siempre mantén el foco en Custodio y la trazabilidad de combustibles. Si la pregunta no está relacionada, redirige amablemente hacia estos temas.\n\nResponde con saltos de línea escapados"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -512,
        112
      ],
      "id": "5717bf6a-a323-493a-a5a1-2033331460f4",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -576,
        336
      ],
      "id": "aef7e07d-cc22-4d3d-9097-4fb2154ac1b9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }} {{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -448,
        336
      ],
      "id": "2aa57e60-b5bc-42f8-aaf3-e3140d79343a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1213e3c9-bcf0-4bd0-afa9-0f2257cee48a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        112
      ],
      "id": "de23b922-5930-41b3-bdc8-fa71229dda5a",
      "name": "Webhook",
      "webhookId": "1213e3c9-bcf0-4bd0-afa9-0f2257cee48a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"response\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -224,
        112
      ],
      "id": "1a6309c6-8df2-430f-b772-eba2ca4e9573",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-01T15:11:07.149Z",
      "updatedAt": "2025-10-01T15:11:07.149Z",
      "role": "workflow:owner",
      "workflowId": "eCIOyXhVDDBCYbyI",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-01T16:41:35.000Z",
  "versionId": "ed93fc2c-e250-41af-926f-0fafeae66892"
}