workflows/ejfESvevjMbjxYm1.json
{
  "active": true,
  "connections": {
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-20T11:41:29.895Z",
  "id": "ejfESvevjMbjxYm1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Modo Híbrido",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"duracion\" : \"30\",\n  \"guion\": \"Imaginen por un momento que están de pie frente a la Gran Pirámide de Keops en Guiza. El sol del desierto golpea sus rostros mientras contemplan esos bloques de piedra perfectamente tallados que han desafiado al tiempo durante más de 4.500 años. ¿Qué piensan que sintieron los primeros exploradores europeos cuando se encontraron cara a cara con estas maravillas? Hoy vamos a emprender juntos ese mismo viaje de descubrimiento. Soy Alberto Martin, y durante los próximos 30 minutos les voy a contar una historia extraordinaria: la historia de cómo una civilización creció a orillas del Nilo y creó algunas de las obras de arte más impresionantes que ha conocido la humanidad. Una civilización que, literalmente, construía para la eternidad. ¿Saben qué hace único a Egipto? No es solo que esté en África, sino que el Nilo - ese río majestuoso que atraviesa el desierto de sur a norte - lo convirtió en algo completamente diferente al resto del continente. Cada año, como un reloj cósmico, el Nilo se desbordaba y depositaba en sus orillas limos fertilísimos. Los egipcios no tenían que luchar contra la naturaleza, sino que aprendieron a danzar con ella. Esta dependencia del ciclo del río los convirtió en observadores extraordinarios. Sabían cuándo vendrían las crecidas, cuándo plantar, cuándo cosechar. Y esta obsesión por los ciclos naturales, por el orden cósmico, se reflejará de manera espectacular en su arte. Porque para los egipcios, el arte no era decoración - era comunicación directa con los dioses y con la eternidad. Pero aprovechar esta fuente de riqueza no era tarea sencilla. Para dominar las crecidas anuales del Nilo fue necesario crear un sistema complejo de canalizaciones que permitiera recoger el agua en épocas secas y contener las devastadoras inundaciones en época de crecidas. Imaginen la magnitud de estas obras: kilómetros y kilómetros de canales, diques, embalses... Era una empresa titánica que ninguna ciudad-estado podía acometer en solitario. Y aquí está uno de los secretos del nacimiento de Egipto como gran civilización: estas obras de canalización del Nilo, junto con la necesidad de defenderse de enemigos exteriores como libios y nubios, fueron el factor decisivo que creó la cohesión necesaria entre los habitantes de la región. Se unieron, se organizaron, y dieron lugar a un reino poderoso bajo una figura visible y divina: el faraón. Sin el Nilo y sin la necesidad de trabajar juntos para dominarlo, tal vez nunca habría existido el Egipto que conocemos. Y aquí entra en escena uno de los protagonistas más fascinantes de nuestra historia: el faraón. No era simplemente un rey - era un dios viviente. Imaginen el poder psicológico de esa figura: eres un campesino trabajando bajo el sol abrasador del desierto, y de repente aparece ante ti alguien que es, literalmente, divino. Alguien que lleva en su frente el ureus - esa cobra sagrada - y sobre su cabeza las coronas del Alto y Bajo Egipto unificadas. Esta divinidad del faraón explica algo que veremos una y otra vez en el arte egipcio: todo, absolutamente todo, está al servicio de transmitir poder, orden y eternidad. No hay nada casual, no hay nada puramente estético. Cada símbolo, cada gesto, cada proporción tiene un significado profundo. Y cuando el faraón moría, su cuerpo divino merecía un receptáculo a su altura. Aquí entra en juego el sarcófago - una palabra que significa literalmente \\\"devora-carne\\\". Era un receptáculo de piedra o terracota que albergaba los restos del difunto, pero no era simplemente una caja: era una morada eterna, un hogar definitivo para un ser que había sido divino en vida y seguiría siéndolo en la muerte. Pero si hay algo que define a los egipcios es su relación extraordinaria con la muerte. Para ellos, la muerte no era el final - era una transición. La vida continuaba en el más allá exactamente igual que en la tierra, con las mismas necesidades, los mismos placeres, las mismas ocupaciones. Por eso momificaban los cuerpos, por eso llenaban las tumbas de objetos cotidianos, por eso pintaban en las paredes escenas de la vida diaria. Y aquí está la clave de todo el arte egipcio: si vas a vivir para siempre, todo lo que construyas debe durar para siempre. Por eso usaban piedra en lugar de adobe para las tumbas, por eso las pirámides tienen esas proporciones monumentales, por eso las esculturas parecen inmutables. Los vivos podían vivir en casas de paja y barro, pero los muertos y los dioses necesitaban moradas eternas. Pero hay otro aspecto fascinante de la cultura egipcia que se refleja poderosamente en su arte: su extraordinario naturalismo. Los egipcios eran observadores meticulosos de la naturaleza porque de ella dependía literalmente su supervivencia. Cuando contemplamos la pintura mural de la princesa Itet en el Museo de El Cairo, del año 2700 antes de Cristo, nos quedamos asombrados por la frescura y la atención al detalle. Esos patos, esas plantas acuáticas, esa representación tan viva del entorno del Nilo... Es naturalismo puro, una celebración de la vida que les rodeaba y que querían conservar para siempre. Pero antes de llegar a las grandes pirámides, tenemos que hablar de los orígenes, de cómo nació realmente Egipto como potencia. Desde época neolítica, Egipto era un mosaico de ciudades-estado dispersas - lo que llamamos el Egipto predinástico. Imaginen pequeñas ciudades con casas de adobe en torno a calles estrechas, cada una gobernada por su propio reyezuelo local, cada una luchando por controlar su trozo de orilla del Nilo. El sistema constructivo era sencillo: principalmente adintelado, aunque ya usaban arcos y bóvedas para elementos subterráneos, sótanos, almacenes y desagües. Era un mundo fragmentado, sin la grandeza monumental que vendría después. Las dos primeras dinastías de Egipto reciben el nombre de período tinita, porque la capital del país se hallaba en Tinis. Posteriormente, la capital se trasladaría a Menfis, en el Bajo Egipto, pero situada estratégicamente muy cerca del límite entre el Alto y el Bajo Egipto. Y aquí llegamos a uno de los momentos más decisivos de la historia de la humanidad: el surgimiento de la primera dinastía coincide con la unificación entre el Alto Egipto - al sur - y el Bajo Egipto - la zona del delta del Nilo. Esta unificación, que más bien parece que fue una conquista por parte de los reyes del Alto Egipto, se atribuye a Narmer, el primer faraón de Egipto, hacia el año 3000 antes de Cristo. Desde entonces, el faraón se convirtió en la principal autoridad política y religiosa del país y, como símbolo perfecto de esa unidad, portaba algo fascinante: las coronas de ambos reinos unificadas. La corona blanca, de forma compacta y cónica, era típica del Alto Egipto y recordaba las montañas donde nacía el río. La corona roja, con decoración en espiral, era propia del Bajo Egipto y evocaba el color rojizo y las plantas que poblaban el Nilo en su desembocadura. Tras la unificación, se hizo frecuente que el faraón llevase un tocado que unía ambas coronas, pero también podía combinarse con el nemes - ese tocado de tela con rayas azules y blancas que todos reconocemos, que se colocaba tras las orejas y se recogía en una trenza en la espalda. Era más que moda: era la representación visual del poder absoluto sobre un territorio unificado. Ahora los invito a hacer un viaje en el tiempo. Estamos en los primeros siglos del Imperio Antiguo, alrededor del año 3000 antes de Cristo. Los primeros faraones se entierran en construcciones que llamamos mastabas - imaginen una especie de mesa gigante de piedra, con una capilla arriba para las ofrendas, un pozo para acceder desde la entrada a la cámara sepulcral, que se utilizaba únicamente para depositar el cadáver y luego se sellaba para siempre, y una cámara sepulcral excavada en el subsuelo, decorada con pinturas y relieves que acompañarían al difunto en su viaje eterno. Pero entonces aparece un personaje extraordinario: el faraón Zoser y su genial arquitecto Imhotep - el primer arquitecto de la historia cuyo nombre conocemos. Imhotep no se conformó con una mastaba... ¡apiló seis mastabas una encima de otra! Y así nació la primera pirámide escalonada de Saqqara. Imaginen el impacto visual: de repente, el paisaje egipcio se alzaba hacia el cielo con una estructura de 60 metros de altura, toda en piedra perfectamente tallada. Y luego viene la revolución definitiva: las pirámides perfectas de Guiza. Keops, Kefrén y Micerinos. A partir de la cuarta dinastía, decidieron que esos escalones sobraban - querían formas puras, geométricas, perfectas. La pirámide de Keops, con sus 146 metros originales de altura, fue el edificio más alto del mundo durante más de 3800 años. ¡Imaginen! Desde su construcción hasta las catedrales góticas del siglo XIV, nada la superó. La pirámide de Kefrén es la única que conserva en el remate parte de la decoración original de piedra caliza pulida y la pirámide de Micerinos se acompaña de otras tres pirámides menores, dedicadas tal vez a tres reinas. Y como guardiana eterna de todo este conjunto se alza la esfinge de Guiza, esa escultura monumental en roca caliza que representa un cuerpo de león con el rostro del faraón Kefrén, tocado con el nemes. Es la imagen misma del poder divino convertido en guardián eterno, con esa mirada enigmática perdida en el horizonte del desierto. Pero las pirámides no eran monumentos aislados. Se situaban en necrópolis - auténticas ciudades de los muertos - que incluían varios templos, otras pirámides menores y una gran avenida procesional. Estos templos, con carácter funerario, se caracterizaban por su escasa ornamentación, a pesar de la riqueza de los materiales utilizados: granito y alabastro. Pero no todo era monumentalidad bruta. Los egipcios desarrollaron un lenguaje arquitectónico de una sutileza extraordinaria. Sus columnas son auténticas joyas: las protodóricas, con sus fustes acanalados que imitan atadillos de juncos; las papiriformes, que reproducen los tallos del papiro... Era como si hubieran trasladado todo el paisaje del Nilo al interior de sus templos. Cuando uno camina entre estas columnas - y yo he tenido la suerte de hacerlo - siente que está en un bosque petrificado, en un jardín eterno donde la naturaleza se ha transformado en arquitectura para no morir jamás. Y ahora llegamos a uno de mis aspectos favoritos del arte egipcio: la escultura. Porque aquí los egipcios desarrollaron una idea revolucionaria: la escultura no es solo representación, es presencia real. Creían que parte del alma del representado se quedaba atrapada en la piedra. Por eso las esculturas tenían que ser perfectas, duraderas, hechas en materiales nobles como el basalto o la diorita. Esta concepción sagrada de la escultura le otorgaba una doble función fascinante. Primero, transmitir una presencia: en el caso de los faraones, se realizaban esculturas que sirvieran para ejercer la protección del faraón en una ciudad determinada. Un ejemplo extraordinario son las tríadas de Micerinos - una colección de esculturas en basalto que representan al faraón con la diosa Hathor y distintas ciudades de Egipto personificadas en forma de mujer, cada una diferente, con el atributo de la ciudad sobre la cabeza. Destacan por el brillo impresionante de la piedra y por el cuidadoso tratamiento de la anatomía. La segunda función era acoger el alma del difunto. Se pensaba que, en caso de que el alma de un difunto - su ka - no pudiera reposar en su cuerpo momificado por haber sido dañado o robado, podría refugiarse en una escultura que lo representara. De ahí la importancia vital de que las esculturas estuvieran realizadas en materiales duros y que los miembros del cuerpo estuvieran firmemente fijados al bloque de piedra para que no pudieran romperse jamás. Miren por ejemplo la escultura del faraón Zoser: está sentado, con esa mirada perdida en la eternidad, tocado con el nemes, la barba postiza... Es la imagen misma de la divinidad. Pero fíjense en algo curioso: los ojos están muy abiertos, la sonrisa es tenue, la expresión serena pero distante. Es lo que llamamos hieratismo - la representación de lo sagrado, alejado de las emociones humanas. Pero cuando los egipcios esculpían a personas que no eran divinas, ¡todo cambiaba! El famoso Escriba Sentado es un ejemplo perfecto: aquí tenemos realismo puro, incluso ese pequeño michelin en el vientre que delata una vida cómoda. La mirada es inteligente, alerta, humana. Los materiales son más sencillos - caliza en lugar de basalto - pero la expresividad es mucho mayor. Y en el Imperio Medio aparece algo nuevo y conmovedor: los ushebtis, pequeñas esculturas que reproducen servidores, las cuales se colocaban en las tumbas junto al sarcófago. Se pensaba que estos ushebtis podían volver a la vida y servir al faraón en su vida de ultratumba. Habitualmente son representados como figuritas momiformes, aunque también existen ushebtis realizando tareas manuales con una viveza y realismo extraordinarios. Ahora quiero contarles sobre una pieza extraordinaria: la paleta de Narmer. Esta pequeña obra de arte en pizarra conmemora la unificación de Egipto bajo el primer faraón. Y aquí vemos ya todos los elementos que definirán el arte egipcio durante tres milenios. Fíjense en la perspectiva jerárquica: Narmer es gigantesco comparado con sus enemigos. Y fíjense en esa perspectiva \\\"torcida\\\" tan característica: la cabeza de perfil pero con el ojo de frente, el torso de frente pero los brazos de perfil... Era una forma genial de mostrar cada parte del cuerpo desde su ángulo más reconocible. No era torpeza - era sofisticación conceptual. Y llegamos a la pintura, que para mí es lo más emotivo del arte egipcio. Porque mientras las esculturas y las arquitecturas nos hablan de poder y eternidad, las pinturas nos susurran secretos de la vida diaria. Las famosas \\\"Ocas de Meidum\\\" son un ejemplo perfecto: una naturalidad, una frescura, una observación tan precisa que parece que las aves van a echar a volar en cualquier momento. Los egipcios pintaban estas escenas en las tumbas para que el alma del difunto recordara los placeres de la vida: los banquetes, la caza, la pesca, las cosechas... La técnica era principalmente el fresco: yeso húmedo pintado con pigmentos naturales. Los colores eran simbólicos: el dorado para lo divino, el azul para el cielo y el agua, el verde para la vegetación y la regeneración... Y no puedo hablar de arte egipcio sin mencionar los jeroglíficos. \\\"La representación de lo sagrado\\\" - eso significa la palabra. Porque para los egipcios, escribir era un acto sagrado, artístico. Cada símbolo era una pequeña obra de arte: el halcón, la serpiente, el ojo... Pero con el tiempo evolucionó hacia una escritura silábica, donde los símbolos que representan una sílaba se combinaban para crear palabras más complejas. Los símbolos se basaban en formas de la naturaleza: plantas, animales, figuras humanas, lugares, objetos del día a día... Y aquí viene lo verdaderamente extraordinario: los jeroglíficos tenían un orden a la vez estricto y flexible. Los símbolos podían leerse de derecha a izquierda o de izquierda a derecha, podían situarse horizontalmente o agruparse verticalmente... Era un sistema completamente adaptable a las necesidades artísticas de cada superficie. Los elementos más importantes, como los nombres de los faraones, se encerraban en cartuchos - esos óvalos que vemos en tantas inscripciones. Después del colapso del Imperio Antiguo, llegó el Imperio Medio, y aquí vemos cambios sutiles pero significativos. Los retratos de faraones como Sesostris III nos muestran rostros cansados, melancólicos, profundamente humanos. Ya no son solo dioses - son dioses que han sufrido, que conocen el peso del poder. Las pirámides siguen construyéndose, pero son más pequeñas, más íntimas. Y aparece algo nuevo y conmovedor: los ushebtis, esas pequeñas figuritas de servidores que acompañaban al difunto para servirle en la otra vida. Hay algo profundamente humano en esta idea - incluso en la eternidad, nadie quiere estar solo. Y aquí llegamos al final de nuestro viaje, pero también al principio de algo eterno. Porque lo que los egipcios consiguieron fue algo extraordinario: crear un arte que trasciende el tiempo. Cuando Napoleón llegó a Egipto en 1798 y sus soldados vieron por primera vez las pirámides, uno de ellos gritó: \\\"¡Soldados, desde lo alto de estas pirámides, cuarenta siglos os contemplan!\\\" Cuarenta siglos... y ahí siguen, contemplándonos. Porque los egipcios entendieron algo fundamental: que el arte verdadero no es decoración, es comunicación. Cada pirámide nos dice \\\"aquí vivió un dios\\\", cada escultura nos dice \\\"yo soy eterno\\\", cada pintura nos dice \\\"la vida es hermosa y merece ser recordada\\\". En películas como \\\"Los Diez Mandamientos\\\" de Cecil B. DeMille o \\\"Cleopatra\\\" con Elizabeth Taylor, Hollywood ha intentado capturar esa majestuosidad egipcia. Pero la realidad supera cualquier ficción. Porque cuando uno está frente a la esfinge de Guiza, con esa mirada enigmática perdida en el horizonte, entiende que no está ante una obra de arte - está ante un misterio hecho piedra. Los egipcios nos enseñaron que el arte puede ser vehículo de eternidad. Que una civilización puede hablar a través de los siglos mediante formas, colores y símbolos. Que la belleza y el significado pueden fundirse en una sola expresión. Y por eso, cada vez que contemplamos una obra egipcia - ya sea la majestuosa pirámide de Keops, la serena escultura de Zoser, o las delicadas ocas de Meidum - no estamos simplemente viendo arte antiguo. Estamos participando en un diálogo de cuatro milenios, escuchando las voces de una civilización que se negó a morir y que sigue hablándonos desde la eternidad. Muchas gracias. El Nilo sigue fluyendo, y el arte egipcio sigue emocionándonos.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        160
      ],
      "id": "331955af-8711-4ec6-80c2-187f9d974cb2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## 1. Perfil y Misión\n\n**Perfil:** Eres un productor y editor de vídeo experto, especializado en la creación de contenido cinematográfico utilizando plataformas de IA generativa (Sora, Gemini Veo, HeyGen).\n\n**Objetivo:** Tu objetivo principal es transformar el guion de texto plano en una estructura de producción de vídeo JSON detallada y lista para la API.\n\n**Misión:** Actúa como un director de fotografía y un editor, no solo como un formateador de texto. Tu tarea es analizar el guion, dividirlo en escenas lógicas y coherentes, y para CADA escena, definir todos los parámetros de producción: la plataforma de IA correcta, una duración válida, el texto del guion y, fundamentalmente, un `visual_prompt` de nivel cinematográfico.\n\nLa duración del vídeo en minutos es de: `{{ $json.body.duracion_minutos }}` minutos.\nEl guión del video es: `{{ $json.body.guion }}`\n\n---\n\n## 2. Plataformas y Restricciones Técnicas\n\nCada escena debe asignarse a una plataforma. Estas son las reglas **no negociables** basadas en las limitaciones de la API:\n\n| Plataforma | Avatar | Uso Principal | Duraciones Permitidas (`duration_sec`) |\n| :--- | :--- | :--- | :--- |\n| **HeyGen** | `\"si\"` | Presentador, explicaciones, intros/cierres. | Cualquier valor entre **30 y 60** segundos. |\n| **Gemini Veo** | `\"no\"` | B-roll cinematográfico, documental, realista. | Cualquier valor entre **5 y 8** segundos (Máx 8). |\n| **Sora** | `\"no\"` | Escenas complejas, acción, efectos visuales, movimientos de cámara creativos. | **Exactamente 4, 8, o 12** segundos. |\n\n**Errores Comunes a Evitar (Inválido):**\n* `\"platform\": \"sora\", \"duration_sec\": 10` (Sora no acepta 10)\n* `\"platform\": \"gemini_veo\", \"duration_sec\": 9` (Veo tiene un máximo de 8)\n\n---\n\n## 3. Reglas de Creación de Escenas\n\n### A. Guion (`script_text`)\n\n1.  **Literal:** El `script_text` debe ser un corte **literal** del guion original. No resumas ni parafrasees.\n2.  **Sin Abreviaturas:** Expande **TODOS** los acrónimos (Ej: \"IA\" → \"inteligencia artificial\", \"EE.UU.\" → \"Estados Unidos\", \"etc.\" → \"etcétera\").\n3.  **Duración del Texto:** La longitud del texto debe ser apropiada para la duración de la escena. Usa esto como guía:\n    * **5 segundos:** 10-11 palabras\n    * **8 segundos:** 16-18 palabras\n    * **12 segundos:** 22-25 palabras\n\n### B. Asignación de Plataforma y Dinamismo\n\n1.  **Avatar \"si\" (Presentador):**\n    * Usa **HeyGen** (`platform: \"heygen\"`).\n    * Ideal para: Introducciones, conclusiones, explicaciones directas.\n    * Divide el contenido en escenas de 30-60 segundos. Si un monólogo dura 90s, divídelo en dos escenas (ej: 45s y 45s).\n2.  **Avatar \"no\" (Visuales/B-roll):**\n    * Usa **Gemini Veo** (`platform: \"gemini_veo\"`) para b-roll cinematográfico y descriptivo (5-8s).\n    * Usa **Sora** (`platform: \"sora\"`) para escenas creativas, acción o movimientos de cámara complejos (4s, 8s, o 12s).\n3.  **Dinamismo:** Alterna entre escenas con avatar (HeyGen) y escenas visuales (Veo/Sora) para mantener el interés. Evita más de 2 escenas de HeyGen consecutivas.\n\n### C. Duración Total\n\n* La suma de todas las `duration_sec` de las escenas debe aproximarse al total de `duracion_minutos * 60` (con un margen de ±10%).\n\n---\n\n## 4. Requisitos Detallados del `visual_prompt` (CRÍTICO)\n\nEste campo es fundamental para la generación visual. **Debe ser un objeto JSON anidado**, no un simple string. **Más detalle = mejores resultados**. Sé extremadamente descriptivo y cinematográfico.\n\nTu `visual_prompt` **debe** contener las siguientes claves:\n\n* `description` (string): Descripción general y detallada del entorno, objetos principales, elementos visuales clave, texturas, colores dominantes.\n* `camera` (string): Instrucciones técnicas de cámara. Incluye: tipo de plano (ej: \"Plano medio\", \"Plano detalle\"), movimiento (ej: \"suave dolly-in\", \"cámara en mano estable\", \"plano cenital estático\"), lente (ej: \"lente 35mm\"), y estilo (ej: \"cinematográfico 4K\", \"estética RED camera\").\n* `lighting` (string): Descripción completa del esquema de iluminación. Incluye: fuentes (ej: \"luz natural cálida de atardecer\"), dirección (ej: \"iluminación lateral desde la izquierda\"), temperatura de color (ej: \"5000K\"), tipo de sombras (ej: \"sombras suaves\").\n* `composition` (string): Estructura visual y organización del encuadre. Incluye: regla de tercios, líneas guía, espacios negativos, balance (ej: \"balance asimétrico\"), punto focal.\n* `atmosphere` (string): Ambiente emocional y sensorial de la escena. Incluye: mood (ej: \"profesional y enfocado\", \"misterioso\", \"optimista\"), tono emocional, energía (ej: \"calma y concentrada\").\n* `style_reference` (string): Referencias cinematográficas, artísticas o de estilo visual (ej: \"Estilo keynote de Apple\", \"Cinematografía de Blade Runner 2049\", \"Estética de vídeo corporativo de Microsoft\").\n* `continuity_notes` (string): Notas para mantener la consistencia con escenas adyacentes (ej: \"Misma ropa que en Escena 1\", \"La luz progresa de la mañana a la tarde\", \"Mantener el mismo prop en el escritorio\").\n* `characters_in_scene` (array de strings): IDs de los personajes presentes en esta escena (ej: `[\"char_1\"]` o `[]` si no hay personajes).\n\n---\n\n## 5. Estructura de Salida JSON Requerida\n\nTu respuesta debe ser **únicamente** un objeto JSON válido. El objeto JSON de nivel superior debe contener claves como `status`, `script_id`, `message`, `project`, `characters`, y `scenes`.\n\nTu tarea principal es generar el array `scenes`. Cada objeto de escena dentro de ese array debe tener esta estructura:\n\n* `id` (string): Identificador único (ej: \"Escena 1\").\n* `duration_sec` (number): Duración **válida** según la plataforma.\n* `summary` (string): Resumen corto de la escena.\n* `script_text` (string): Texto literal del guion, sin acrónimos.\n* `visual_prompt` (object): El objeto JSON anidado y detallado como se definió en la Sección 4.\n* `avatar` (string): Exactamente `\"si\"` o `\"no\"`.\n* `broll` (array de strings): 2-5 sugerencias de elementos visuales (ej: [\"manos escribiendo\", \"gráfico animado\"]).\n* `transition` (string): Transición de entrada (ej: \"corte\", \"fundido\", \"deslizamiento\").\n* `text_on_screen` (string): Texto superpuesto en la escena (ej: \"Conceptos Clave\").\n* `audio_notes` (string): Tono de voz, música de fondo, efectos de sonido (ej: \"Tono entusiasta. Música corporativa suave.\").\n* `platform` (string): Exactamente `\"heygen\"`, `\"gemini_veo\"`, o `\"sora\"`.\n\n---\n\n## 6. Checklist de Validación Final (Crítico)\n\nAntes de responder, revisa cada escena para asegurar que:\n\n1.  **Sora:** CUALQUIER escena con `platform: \"sora\"` tiene `duration_sec` que es **exactamente 4, 8, o 12**.\n2.  **Gemini Veo:** CUALQUIER escena con `platform: \"gemini_veo\"` tiene `duration_sec` **menor o igual a 8**.\n3.  **HeyGen:** CUALQUIER escena con `platform: \"heygen\"` tiene `duration_sec` **entre 30 y 60**.\n4.  **Coherencia Avatar:** `avatar: \"si\"` SIEMPRE usa `platform: \"heygen\"`. `avatar: \"no\"` SIEMPRE usa `gemini_veo` o `sora`.\n5.  **Guion:** `script_text` es literal y **no contiene acrónimos** o abreviaturas.\n6.  **Visual Prompt:** `visual_prompt` es un **objeto JSON** detallado con todas las claves (description, camera, lighting, etc.), no un simple string.\n\n**RESPONDE ÚNICAMENTE CON EL JSON VÁLIDO. SIN EXPLICACIONES ADICIONALES.**",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        -64
      ],
      "id": "85e8cac7-e0fb-4f60-b27a-b943f7e0a237",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "projectId": "proeduca-472312",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        -240,
        544
      ],
      "id": "942de6a6-cae4-4ab9-b914-3694b9647ae8",
      "name": "Get a list of Buckets for a given project",
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "yYTB9xrewyhN99Pi",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "projectId": "proeduca-472312",
        "prefix": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prefix', ``, 'string') }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorageTool",
      "typeVersion": 1,
      "position": [
        -240,
        336
      ],
      "id": "e6a3c8f1-0d40-4281-991a-f00cdd5d0717",
      "name": "Get a list of Buckets for a given project in Google Cloud Storage",
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "yYTB9xrewyhN99Pi",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"project\": {\n    \"project_name\": \"Nombre del proyecto o producción audiovisual.\",\n    \"platform_mode\": \"Modo de generación del proyecto. Valores posibles: 'mixto', 'avatar', 'b-roll', 'cinematic', etc.\",\n    \"num_scenes\": \"Número total de escenas del video.\",\n    \"language\": \"Idioma principal del diálogo y narración. Ejemplo: 'es', 'en', 'fr'.\",\n    \"total_estimated_duration_min\": \"Duración total estimada del proyecto en minutos.\",\n    \"visual_style_reference\": \"Referencia o descripción general del estilo visual. Ejemplo: 'realismo cinematográfico', 'estilo anime', 'look documental', etc.\",\n    \"color_palette\": \"Descripción o lista de los tonos y colores dominantes que definirán la estética global.\",\n    \"tone_and_mood\": \"Tono y atmósfera emocional del video. Ejemplo: 'inspirador', 'dramático', 'introspectivo', 'esperanzador'.\"\n  },\n  \"characters\": [\n    {\n      \"id\": \"Identificador único del personaje (string, e.g. 'char_1').\",\n      \"name\": \"Nombre del personaje.\",\n      \"role\": \"Rol narrativo del personaje (protagonista, antagonista, secundario, narrador, etc.).\",\n      \"age\": \"Edad aproximada o rango de edad.\",\n      \"gender\": \"Género del personaje (opcional o descriptivo).\",\n      \"visual_description\": \"Descripción física y visual del personaje. Incluir detalles como rasgos faciales, vestimenta, postura, estilo general.\",\n      \"personality\": \"Descripción breve del carácter o rasgos psicológicos principales.\",\n      \"voice_reference\": \"Referencia de tono, timbre, o acento de voz para síntesis de voz o avatar.\",\n      \"style_reference\": \"Referencia visual o cinematográfica del personaje (puede incluir nombres de películas, artistas o estilos fotográficos).\"\n    }\n  ],\n  \"scenes\": [\n    {\n      \"id\": \"Identificador de la escena (e.g. 'Escena 1').\",\n      \"duration_sec\": \"Duración aproximada en segundos de la escena.\",\n      \"summary\": \"Resumen breve de lo que sucede en la escena.\",\n      \"script_text\": \"Texto narrativo o diálogo que será usado para generar el audio. Debe estar redactado para lectura natural (TTS o voz de avatar).\",\n      \"visual_prompt\": {\n        \"description\":\"Descripción general y cinematográfica de la escena. Detalla el entorno, la acción, el tono visual y los elementos clave que deben aparecer.\", \n        \"camera\": \"Instrucciones de cámara. Ejemplo: 'wide shot', 'close-up', 'handheld', 'drone aerial', incluyendo movimiento y lente.\",\n        \"lighting\": \"Tipo y dirección de iluminación. Ejemplo: 'soft natural daylight', 'harsh neon backlight', 'golden hour glow'.\",\n        \"composition\": \"Composición visual. Ejemplo: 'rule of thirds', 'symmetrical framing', 'over-the-shoulder', etc.\",\n        \"atmosphere\": \"Descripción del ambiente emocional o físico. Ejemplo: 'misty and nostalgic', 'tense and dark', 'peaceful and bright'.\",\n        \"style_reference\": \"Referencia estilística o cinematográfica. Ejemplo: 'inspired by Blade Runner 2049', 'Studio Ghibli soft color style'.\",\n        \"continuity_notes\": \"Notas sobre continuidad visual o narrativa respecto a escenas previas (iluminación, localización, vestuario, tono).\",\n        \"characters_in_scene\": [\n          \"Array con los IDs de los personajes presentes en esta escena. Ejemplo: ['char_1', 'char_2'].\"\n        ]\n      },\n      \"avatar\": \"Indica si esta escena usa un avatar generado por IA. Valores: 'si' o 'no'.\",\n      \"broll\": [\n        \"Lista de elementos o referencias visuales adicionales (b-roll) que complementan la escena. Ejemplo: ['paisaje', 'ciudad', 'detalles del laboratorio'].\"\n      ],\n      \"transition\": \"Tipo de transición entre escenas. Ejemplo: 'fundido', 'corte', 'zoom', 'deslizamiento', etc.\",\n      \"text_on_screen\": \"Texto que aparece en pantalla (subtítulo, rótulo, título, o elemento narrativo visual).\",\n      \"audio_notes\": \"Notas específicas para la producción de audio. Ejemplo: tono de voz, ritmo, pausas, tipo de música o efectos sonoros.\",\n      \"platform\": \"Plataforma o motor de generación para esta escena. Ejemplo: 'heygen_v2', 'sora', 'runway_gen3', 'gemini_veo'.\"\n    }\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        160
      ],
      "id": "5411d056-1840-4b4f-b831-bf8a502d5c1b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        448,
        -224
      ],
      "id": "35f27d17-1477-4183-b0f7-4114300cd421",
      "name": "Think"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6e03a7df-1812-446e-a776-9a5b4ab543c8",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        -64
      ],
      "id": "81364430-a805-4625-b559-567cb6b03d43",
      "name": "Webhook",
      "webhookId": "6e03a7df-1812-446e-a776-9a5b4ab543c8"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=script_result:{{ $('Webhook').item.json.body.script_id }}",
        "value": "={{ JSON.stringify({\n  \"status\": \"success\",\n  \"message\": \"Guión procesado correctamente\",\n  \"script_id\": $('Webhook').item.json.body.script_id,\n  \"project\": $json.output.project,\n  \"scenes\": $json.output.scenes\n}) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        768,
        -64
      ],
      "id": "ef4ccdb2-31f9-47b4-a4bd-b6d3940493e8",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "JtuezSP5P3Qpc1oQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        288
      ],
      "id": "c895fb69-10de-4f8a-a352-cd04f486798a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.nxhumans.com",
            "user-agent": "python-requests/2.32.5",
            "content-length": "3177",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, zstd",
            "content-type": "application/json",
            "x-forwarded-for": "195.235.14.173",
            "x-forwarded-host": "n8n.nxhumans.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7b72481c90c0",
            "x-real-ip": "195.235.14.173"
          },
          "params": {},
          "query": {},
          "body": {
            "script_id": 117,
            "guion": "Bienvenidos a esta masterclass sobre Historia Contemporánea.\nHoy vamos a hablar de uno de los conflictos más devastadores y decisivos de la humanidad: la Primera Guerra Mundial.\n\nTodo comenzó en 1914, cuando el archiduque Francisco Fernando de Austria fue asesinado en Sarajevo.\nEse atentado encendió la chispa de una tensión que llevaba años acumulándose entre las grandes potencias europeas.\nDetrás del crimen, había mucho más que un disparo: había rivalidades imperiales, nacionalismos, alianzas militares y una carrera armamentística sin precedentes.\n\nEuropa estaba dividida en dos grandes bloques.\nPor un lado, la Triple Entente, formada por Francia, Rusia y Reino Unido.\nPor otro, la Triple Alianza, con Alemania, Austria-Hungría e Italia, aunque Italia cambiaría de bando más adelante.\nLo que debía ser un conflicto local se convirtió rápidamente en una guerra mundial.\n\nLas potencias creían que la guerra sería corta, pero se equivocaron.\nDurante cuatro años, el continente quedó atrapado en una guerra de trincheras, especialmente en el frente occidental, entre Francia y Alemania.\nMillones de soldados vivieron meses enteros bajo la lluvia, el barro, el frío y el miedo constante.\nLas condiciones eran horribles: hambre, enfermedades y una sensación de desesperanza absoluta.\n\nFue también una guerra de innovación tecnológica.\nPor primera vez se usaron ametralladoras, tanques, aviones de combate, gases venenosos y submarinos.\nLa industria moderna había llegado al campo de batalla, y eso hizo que la escala de destrucción fuera inmensa.\n\nEn 1917, dos eventos cambiaron el curso del conflicto.\nPrimero, Estados Unidos entró en la guerra, aportando recursos frescos y un enorme poder económico.\nY segundo, Rusia se retiró tras la Revolución Bolchevique, que llevó a Lenin al poder.\n\nFinalmente, en 1918, Alemania colapsó, agotada por los frentes y por la crisis interna.\nEl 11 de noviembre de 1918, se firmó el armisticio.\nEuropa estaba destruida.\nMás de 16 millones de personas murieron, y una generación entera quedó marcada para siempre.\n\nEl tratado de Versalles, firmado en 1919, puso fin oficialmente al conflicto, pero también sembró las semillas del siguiente.\nLas duras condiciones impuestas a Alemania —reparaciones económicas, pérdida de territorios y humillación nacional— alimentaron el resentimiento que, años después, daría lugar al ascenso del nazismo y a la Segunda Guerra Mundial.\n\nLa Primera Guerra Mundial cambió todo:\nlos mapas, las sociedades, la política y la forma de entender la guerra misma.\nFue el fin de una era y el inicio del siglo XX tal como lo conocemos: un siglo de avances, pero también de heridas profundas.\n\nRecordar la Primera Guerra Mundial no es mirar al pasado,\nes recordar lo que puede ocurrir cuando la ambición, el miedo y el orgullo pesan más que la razón.",
            "duracion_minutos": 3
          },
          "webhookUrl": "https://n8n.nxhumans.com/webhook/6e03a7df-1812-446e-a776-9a5b4ab543c8",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-20T11:41:29.905Z",
      "updatedAt": "2025-10-20T11:41:29.905Z",
      "role": "workflow:owner",
      "workflowId": "ejfESvevjMbjxYm1",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-17T10:52:30.000Z",
  "versionId": "97d7a35d-ca6d-4e1c-b280-d4799efce490"
}