workflows/p9Znl2xMpN6ZCkoI.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Warehouse Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "ai_tool": [
        [
          {
            "node": "Warehouse Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-29T08:40:37.796Z",
  "id": "p9Znl2xMpN6ZCkoI",
  "isArchived": false,
  "meta": null,
  "name": "Warehouse Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        0
      ],
      "id": "ac473b70-95f2-4059-95ed-7bd6385d6853",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        224
      ],
      "id": "47e969e8-54d4-4043-abcf-66a941a26bd4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "surname",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "mail",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "c05355af-d92f-4910-9518-48a9bf6068a9",
      "name": "Create a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "hQzQNzIN13lv1Hrz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"
            },
            {
              "keyName": "surname",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "620f9485-b709-4e00-b7e0-e771830ffc7d",
      "name": "Delete a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "hQzQNzIN13lv1Hrz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        224,
        384
      ],
      "id": "e44a201d-c460-45f7-b86d-d6e1eeedad42",
      "name": "Get Contact",
      "credentials": {
        "supabaseApi": {
          "id": "hQzQNzIN13lv1Hrz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are an agent that looks and modifys info in my supabase database.\nDatabase fields:\n- name\n- surname\n- mail"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        96,
        0
      ],
      "id": "428a2918-c605-449b-ac50-9fb26ef474ac",
      "name": "Warehouse Agent"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": ""
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-29T08:40:37.804Z",
      "updatedAt": "2025-09-29T08:40:37.804Z",
      "role": "workflow:owner",
      "workflowId": "p9Znl2xMpN6ZCkoI",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-29T08:48:46.000Z",
  "versionId": "bf6556fc-8b45-4193-ad93-038ae855ebbd"
}