workflows/uozIGPtmE2KWJ6Bt.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Recipie Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Recipie Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-26T10:30:37.833Z",
  "id": "uozIGPtmE2KWJ6Bt",
  "isArchived": false,
  "meta": null,
  "name": "Sub Recipie Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        64
      ],
      "id": "fde853e2-65b9-4a4d-bc13-c12c0a165b43",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        272
      ],
      "id": "229f9d3c-7171-48fa-ae59-8bb11151c5af",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Write the requested recipie"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        80,
        64
      ],
      "id": "7c12295c-a4a4-4499-8489-7c4b0b349663",
      "name": "Recipie Agent"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Subject: Checking In\n\nHi Nate,\n\nI hope this message finds you well. How are you doing?\n\nLooking forward to hearing from you.\n\nBest regards,"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-26T10:30:37.841Z",
      "updatedAt": "2025-09-26T10:30:37.841Z",
      "role": "workflow:owner",
      "workflowId": "uozIGPtmE2KWJ6Bt",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-26T10:56:41.000Z",
  "versionId": "24718884-c81b-437e-8d54-98dbfb11530e"
}