workflows/uzq0pYmVivM2MFJt.json
{
  "active": false,
  "connections": {
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Test Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Test Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Agent": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Test Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-29T07:22:52.559Z",
  "id": "uzq0pYmVivM2MFJt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Pruebas telegram",
  "nodes": [
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        128
      ],
      "id": "d6dfd2fb-89fd-4415-8b81-ba3f1ddfa7aa",
      "name": "Send an audio file",
      "webhookId": "d075707d-48fa-4131-a91b-423c74f0d305",
      "credentials": {
        "telegramApi": {
          "id": "5f1IJ3lYh0cbDxte",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        80,
        128
      ],
      "id": "88a04606-e580-46e3-b82b-df92b022db07",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fileName": "audio.mp3",
        "options": {}
      },
      "name": "Guardar en disco",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        288,
        -16
      ],
      "id": "caefe318-5e3d-4232-a472-6a289da015d9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        -96
      ],
      "id": "739c5ca7-b060-46ba-bb76-ee7fe1b80eef",
      "name": "When chat message received",
      "webhookId": "607c850a-02bd-4d89-a6b0-9be0fe3b9bb9"
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        128
      ],
      "id": "4f0ad001-adc3-4373-b4ba-679453a0997b",
      "name": "Telegram Trigger",
      "webhookId": "a7dcab7e-d44d-45bb-816d-7927c4c33635",
      "credentials": {
        "telegramApi": {
          "id": "5f1IJ3lYh0cbDxte",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -448,
        16
      ],
      "id": "f06740c4-a56c-4ed4-aaf4-8c91c27dc85c",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Just chat"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        128
      ],
      "id": "a68299e4-f773-4cb7-aa0d-4e2838905032",
      "name": "Test Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        336
      ],
      "id": "76dbef84-3a3a-4bf3-abdb-37b84f0c36cf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        336
      ],
      "id": "f80dbf42-d6f7-40d9-be58-5e1b775916c9",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-29T07:22:52.570Z",
      "updatedAt": "2025-09-29T07:22:52.570Z",
      "role": "workflow:owner",
      "workflowId": "uzq0pYmVivM2MFJt",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-29T08:20:39.000Z",
  "versionId": "a25f3438-3893-41d8-8602-875ccf21bfd5"
}