workflows/vBXGz3HMt39K1fQn.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Supabase Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "Supabase Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "Supabase Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "ai_tool": [
        [
          {
            "node": "Supabase Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-26T11:46:59.023Z",
  "id": "vBXGz3HMt39K1fQn",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Supabase Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        80
      ],
      "id": "7197a0be-9b18-4ad8-948b-461245d84670",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        304
      ],
      "id": "ff8c7d7a-aeee-461a-b53b-d0af3eedd733",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are an agent that looks and modifys info in my supabase database.\nDatabase fields:\n- name\n- surname\n- mail"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        288,
        80
      ],
      "id": "9a66ea4a-89b2-496a-90d9-b0cb76c8f7b5",
      "name": "Supabase Agent"
    },
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "surname",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "mail",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        416,
        304
      ],
      "id": "2e89d79e-411a-4b36-964d-35afd8f4ccd5",
      "name": "Create a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "hQzQNzIN13lv1Hrz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"
            },
            {
              "keyName": "surname",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        544,
        304
      ],
      "id": "73a0a651-25d8-4582-8bad-5f39514b8cda",
      "name": "Delete a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "hQzQNzIN13lv1Hrz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        416,
        464
      ],
      "id": "09e7c992-4dbd-4d43-bdf4-67d6edec8960",
      "name": "Get Contact",
      "credentials": {
        "supabaseApi": {
          "id": "hQzQNzIN13lv1Hrz",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": ""
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-26T11:46:59.031Z",
      "updatedAt": "2025-09-26T11:46:59.031Z",
      "role": "workflow:owner",
      "workflowId": "vBXGz3HMt39K1fQn",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-29T07:26:06.000Z",
  "versionId": "ce78130d-9a34-4422-856f-3db095e20c58"
}