workflows/VD7lhmxAcdQg8ala.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File": {
      "main": [
        [
          {
            "node": "1. Initialize Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Initialize Upload": {
      "main": [
        [
          {
            "node": "2. Upload Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Upload Video File": {
      "main": [
        [
          {
            "node": "3. Check Upload Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-10T15:00:04.418Z",
  "id": "VD7lhmxAcdQg8ala",
  "isArchived": false,
  "meta": null,
  "name": "TikTok - Upload Video",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -48
      ],
      "id": "31083298-c6fe-4ccc-8c2f-cbb8a0490ea9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        -48
      ],
      "id": "9aa61cf5-efca-4565-8edb-d43d6286882a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "id": "b1223248-4a6a-4e7b-9db0-397655a9de39",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post_info\": {\n    \"title\": \"Mi primer video con n8n 🚀\",\n    \"privacy_level\": \"SELF_ONLY\",\n    \"disable_duet\": false,\n    \"disable_comment\": false,\n    \"disable_stitch\": false,\n    \"video_cover_timestamp_ms\": 1000\n  },\n  \"source_info\": {\n    \"source\": \"FILE_UPLOAD\",\n    \"video_size\": {{ $json.videoSize }},\n    \"chunk_size\": 10000000,\n    \"total_chunk_count\": 1\n  }\n}",
        "options": {}
      },
      "id": "f9e747c7-a947-4782-a186-3f7696f6e2a4",
      "name": "1. Initialize Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        160
      ],
      "notes": "Replace YOUR_ACCESS_TOKEN_HERE with token from previous workflow"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.data.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            },
            {
              "name": "Content-Length",
              "value": "={{ $json.videoSize }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "id": "7e73e2fd-8e8d-44f3-9b5b-30125ac528c6",
      "name": "2. Upload Video File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        512,
        160
      ],
      "notes": "Upload the actual video file"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/status/fetch/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACCESS_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"publish_id\": \"{{ $('1. Initialize Upload').item.json.data.publish_id }}\"\n}",
        "options": {}
      },
      "id": "f2bd303d-b1b9-4559-8386-5e690029da7a",
      "name": "3. Check Upload Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        736,
        160
      ],
      "notes": "Verify the upload was successful"
    },
    {
      "parameters": {
        "filePath": "=/path/to/your/video.mp4"
      },
      "id": "7d36b822-1009-4fa9-81d0-f30b37bf9fce",
      "name": "Read Video File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        64,
        160
      ],
      "notes": "Change /path/to/your/video.mp4 to your actual video file path"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-10T15:00:04.423Z",
      "updatedAt": "2025-10-10T15:00:04.423Z",
      "role": "workflow:owner",
      "workflowId": "VD7lhmxAcdQg8ala",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-10T15:02:48.000Z",
  "versionId": "edb9dd34-3bf8-4f58-ba1f-72dba7998c4e"
}