workflows/WCY59Vt63AjhevyY.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        []
      ]
    },
    "Setup Heygen": {
      "main": [
        [
          {
            "node": "Create Avatar Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Case Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-26T09:46:46.589Z",
  "id": "WCY59Vt63AjhevyY",
  "isArchived": false,
  "meta": null,
  "name": "Sub Hey Gen",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"intro_video\": {\n    \"title\": \"Introducción al Avatar Virtual\",\n    \"voice\": {\n      \"input_text\": \"Hola, bienvenidos a este video de prueba. ¡Estoy muy emocionada de compartir esta demo contigo!\"\n    }\n  },\n  \"close_video\": {\n    \"title\": \"Cierre del Video\",\n    \"voice\": {\n      \"input_text\": \"Gracias por ver este video. ¡Espero que te haya gustado y nos vemos en la próxima!\"\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        -16
      ],
      "id": "43244485-069f-49bf-b884-3a58ce4bb60c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Setup Heygen').item.json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"Kristin_public_2_20240108\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.0\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('AI Writer').item.json.output.case_summary.script }}\",\n        \"voice_id\": \"689f48196a9a43c4bbbb67c14fdbb4c6\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"image\",\n        \"url\": \"https://as1.ftcdn.net/v2/jpg/06/19/29/94/1000_F_619299409_jTzGQnM9aNVibWaKfd523kqpI8edMZy0.jpg\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  },\n  \"aspect_ratio\": \"16:9\",\n  \"caption\": \"true\",\n  \"title\": \"{{ $('AI Writer').item.json.output.case_summary.title }}\"\n}\n",
        "options": {}
      },
      "id": "4d24127f-9e3d-4f33-9ca4-122838ff7b43",
      "name": "Create Case Summary",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        256,
        112
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Setup Heygen').item.json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"Kristin_public_2_20240108\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.0\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('AI Writer').item.json.output.intro_avatar.script }}\",\n        \"voice_id\": \"689f48196a9a43c4bbbb67c14fdbb4c6\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"image\",\n        \"url\": \"https://as1.ftcdn.net/v2/jpg/06/19/29/94/1000_F_619299409_jTzGQnM9aNVibWaKfd523kqpI8edMZy0.jpg\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  },\n  \"aspect_ratio\": \"16:9\",\n  \"caption\": \"true\",\n  \"title\": \"{{ $('AI Writer').item.json.output.intro_avatar.title }}\"\n}\n",
        "options": {}
      },
      "id": "49a19980-09de-447a-9185-4ab1d15e33bf",
      "name": "Create Avatar Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        256,
        -128
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"heygen_api_key\": \"ZTY1MzdhODZkMWQ2NGY5OThjYmNiMGI4M2U5ZGI5MjQtMTc1ODgxMDgwNw==\",\n  \"avatar_id\": \"Kristin_public_2_20240108\",\n  \"voice_id\": \"689f48196a9a43c4bbbb67c14fdbb4c6\",\n  \"has_background_video\": true,\n  \"background_video_url\": \"https://as1.ftcdn.net/v2/jpg/06/19/29/94/1000_F_619299409_jTzGQnM9aNVibWaKfd523kqpI8edMZy0.jpg\"\n}\n",
        "options": {}
      },
      "id": "b3f6d196-e299-4e22-9529-4788b8f3de7f",
      "name": "Setup Heygen",
      "type": "n8n-nodes-base.set",
      "position": [
        64,
        -16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "# TASK 1: INTRO DEL AVATAR\n1. Analiza cuidadosamente el contenido del PDF proporcionado.\n2. Escribe únicamente el **guion hablado del avatar para la Presentación del Caso** en el **MÓDULO 01: TRAILER**.\n3. Genera además una **descripción breve de la imagen de fondo** que acompañará el video del avatar.\n\n# DIRECTRICES DE REDACCIÓN\n- Público objetivo: estudiantes de MBA.\n- Duración máxima del guion: 30 segundos al ser leído en voz alta.\n- Primera frase: debe generar curiosidad inmediata (curiosity gap).\n- El guion debe sonar como una presentación académica breve y profesional.\n- Menciona solo lo esencial del caso: nombre, tema central y dilema estratégico clave.\n- Tono: profesional, motivador y con autoridad, invitando al análisis y la reflexión.\n- Finaliza con una transición corta hacia la discusión del caso.\n- La descripción de la **imagen de fondo** debe ser breve, visual, realista y relacionada con el contexto del caso.\n- **NO** incluyas notas técnicas, explicaciones internas ni formato JSON.\n- Devuelve únicamente el guion y la descripción de la imagen.\n\n# OUTPUT\nGuion + descripción de imagen de fondo.\n\n---\n\n# TASK 2: RESUMEN E INTRODUCCIÓN DEL CASO (AVATAR METODOLÓGICO)\n1. Analiza cuidadosamente el contenido del PDF proporcionado.\n2. Escribe el **guion hablado del avatar** para el **Resumen e Introducción del Caso**.\n3. Este guion debe preparar a los estudiantes para el análisis y explicar la metodología que se utilizará en el curso.\n\n# DIRECTRICES DE REDACCIÓN\n- Público objetivo: estudiantes de MBA.\n- Duración: entre 2 y 3 minutos al ser leído en voz alta.\n- Tono: académico, claro, motivador y con autoridad docente.\n- Estilo narrativo: frases cortas, con pausas dramáticas, repeticiones retóricas y enumeraciones que generen énfasis. Debe sonar como un discurso que mezcla explicación académica con storytelling.\n- Inicio: enfatiza que **“esta no es una decisión cualquiera”**, recordando una apuesta estratégica previa de la empresa (ej. inversión de 45 millones en I+D cuando apenas generaba flujo de caja).\n- Desarrollo: describe cómo ahora los competidores reaccionan (menciona nombres concretos de rivales relevantes en la industria).\n- Metodología: explica explícitamente qué herramientas se usarán:\n  - PESTEL (entorno regulatorio y macroeconómico).\n  - Cinco Fuerzas de Porter (competencia e industria).\n  - DAFO (fortalezas, debilidades, oportunidades, amenazas).\n  - Matriz CAME (generación de alternativas estratégicas).\n- Innovación pedagógica: destaca que se usará ChatGPT como apoyo, no para decidir por los estudiantes, sino para generar alternativas estratégicas y nuevas perspectivas.\n- Cierre: debe motivar al estudiante con preguntas retóricas e invitación al reto académico. Termina con un llamado inspirador: **“Comencemos con la historia de…”**.\n- **NO** incluyas notas técnicas ni formato JSON.\n- Devuelve únicamente el guion del avatar, con párrafos cortos y estilo oratorio.\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -192,
        -160
      ],
      "id": "f1846c86-db42-44e6-97a6-9f6c78bd688c",
      "name": "AI Writer"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intro_avatar\": {\n    \"title\": \"Presentación inicial del caso\",\n    \"script\": \"Bienvenidos, estudiantes. Hoy nos adentraremos en un caso fascinante: RoboTech, una empresa que desafió a los gigantes de la industria médica con innovación y coraje. ¿Podrá mantener su liderazgo frente a competidores globales dispuestos a todo? Acompáñenme en esta historia y prepárense para analizar una de las decisiones más trascendentales en dirección estratégica.\",\n    \"background_image\": \"Vista panorámica nocturna de un distrito financiero en Singapur, con rascacielos iluminados y una atmósfera de tensión empresarial.\"\n  },\n  \"case_summary\": {\n    \"title\": \"Resumen e introducción al caso y la metodología\",\n    \"script\": \"Esta no es una decisión cualquiera. Estamos frente a un dilema estratégico que puede definir la supervivencia de RoboTech, una empresa que ya arriesgó todo una vez al invertir 45 millones en investigación y desarrollo cuando apenas generaba flujo de caja positivo. Esa apuesta la llevó a convertirse en líder mundial en cirugía robótica espinal. Pero hoy el tablero ha cambiado: Medtronic, Johnson & Johnson, Stryker… todos los gigantes de la industria médica están entrando con fuerza en este mercado.\\n\\nDurante este curso, analizaremos este caso desde múltiples perspectivas. Para comprender el entorno regulatorio y macroeconómico aplicaremos el análisis PESTEL. Para evaluar la intensidad competitiva y la dinámica de la industria, utilizaremos las Cinco Fuerzas de Porter. Para identificar fortalezas internas, debilidades y oportunidades externas, recurriremos al análisis DAFO. Y, finalmente, emplearemos la matriz CAME para transformar este diagnóstico en alternativas estratégicas viables.\\n\\nPero este caso tiene un componente innovador: ustedes no solo usarán las herramientas clásicas de dirección estratégica, también integrarán la inteligencia artificial como apoyo. Con ChatGPT explorarán posibles estrategias, no para que la IA tome decisiones en su lugar, sino para ayudarlos a plantear opciones, descubrir ángulos nuevos y cuestionar sus propias hipótesis. El verdadero aprendizaje estará en cómo formulan las preguntas, cómo interpretan las respuestas y cómo aplican un juicio crítico fundamentado en la teoría y en la evidencia.\\n\\nAl final de este viaje, no solo habrán practicado con rigor las metodologías de análisis estratégico, sino que también habrán vivido lo que significa estar en la piel de un CEO: tomar decisiones bajo presión, con información incompleta y con múltiples stakeholders atentos a cada movimiento.\\n\\n¿Están listos para ponerse en los zapatos de Pat Chen? ¿Listos para decidir si RoboTech debe volver a apostar todo frente a competidores mucho más grandes? Si la respuesta es sí, entonces comencemos. Comencemos con la historia de cómo una ingeniera visionaria transformó la incertidumbre en liderazgo global. Comencemos con RoboTech.\"\n  }\n}",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -80,
        176
      ],
      "id": "c006841c-4a33-4ce0-a984-2d14b79b2e6f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        384
      ],
      "id": "8539cef1-f1fa-4ce9-8402-919dff0fac14",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmk2GFM41ZOhRE5f",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-26T09:46:46.592Z",
      "updatedAt": "2025-09-26T09:46:46.592Z",
      "role": "workflow:owner",
      "workflowId": "WCY59Vt63AjhevyY",
      "projectId": "k1NZeG3qHb8L8scP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-26T10:00:17.000Z",
  "versionId": "0834649e-b49f-4c6d-8043-6ad99e39f751"
}